/* .hero-info {
    width: 90%;
    text-align: center;
    position: relative;
}

.hero-text {
    position: relative;
}

.hero-elmo {
    position: relative;
} */

.hero-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.hero-text {
    font-size: var(--title-font-size);
    width: 50%;
    text-align: center;
}

.hero-text p {
    margin: 5px;
}


.hero-text-2 {
    display: flex;
    justify-content: center;
}

.hero-elmo {
    width: 25%;
}

/* If you want to add some spacing between hero-text and hero-elmo */
.hero-text {
    margin-right: 10px; /* Adjust as needed */
}

#tsparticles canvas{
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
}
