:root {
    --section-font-size: 40px;
    --title-font-size: 30px;
    --sub-title-font-size: 20px;
    --text-font-size: 16px;
    --primary-blue: #02CCFE;
    --secondary-blue: #8AD9F2;
    --tertiary-blue: #E3F7FF;
}